@using ClientTravelAPI.Models;
@model List<ClientTravelAPI.Models.Review>;

<h1>All Reviews</h1>

<ol>
  @foreach (Review review in Model)
  {
      <ul>
        <li>ID: @review.ReviewId</li>
        <li>ID: @review.Rating</li>
        <li>ID: @review.Description</li>
      </ul>
      <a href="/Reviews/Details/@(review.ReviewId)">
        <p>View Details</p>
      </a>
      <br>
  }
</ol>